    ################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/README.md
/.vs
/Infrastructure/obj/
/Infrastructure/bin/
/FlashProduct.Web/bin/
/FlashProduct.Web/obj/
/Application/bin/
/Application/obj/
/Domain/obj/
/Domain/bin/
/FlashProduct.Web/appsettings.Development.json
